repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: ['--fix']

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [--format, parsable]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        exclude: package.lock.json|notebooks/plot_pm25_usa_by_county.ipynb

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Use the latest stable version of Ruff
    rev: v0.15.0 # Replace with the desired Ruff version
    hooks:
      - id: ruff-check # Runs the Ruff linter
        args: [--fix] # Optional: automatically fix linting issues
      - id: ruff-format # Runs the Ruff formatter
